.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 65%;
  width: 65%;
  position: absolute;
}
